// Mixins Here
.header-text(){
    font-size:4rem;
    width:100%;
    margin:auto;
    text-align: center;
    color: @header-font-color;
    padding-top:1%;
}


.nav-links{
    padding:1%;
    font-size:1.6rem;
    text-decoration:none;
    color: @nav-font;
    font-weight:bold;
    padding:0%;
    padding-top:1%;
    padding-bottom:.5%;
    width: 12%;
    text-align: center;
    }



// parametric mixins

.button(@bg-color, @text-color){
    background-color: @bg-color;
    color: @text-color;
    width:25%;
    border-radius:.5rem;
    font-size:1.6rem;
    
    font-weight:bold;
    text-align:center;
    padding:1.5% 1%;
    
    &:hover{
        color:@bg-color;
        background-color:@text-color;
        // text-decoration:none;
        // font-weight:bold;
    }

}