// Navigation code here

nav{
    display:flex;
    margin:auto;
    flex-wrap:wrap;
    justify-content: center;
    background-color: @nav-bg;
    border-bottom: 1rem solid @nav-border;
        h1{
            .header-text();
            @media @phone{
                font-size:3rem;
            }
         
        }
        a{
            .nav-links();
        @media @phone{
            width:20%;
            font-size:1.2rem;
            padding:3%;
        }
        }
   
    }    
